* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-decoration-color: none;
}
body {
  background-color: rgba(207, 156, 37, 0.959);
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}
/* inicio navbar */
.header .navbar {
  background-color: rgb(210, 69, 9) !important;
}
nav {
  color: rgb(76, 206, 178) !important;
  background-color: rgb(2, 2, 2);
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  word-spacing: 20px;
  height: 50px;
  width: auto;
  padding: 30px;
  padding-bottom: 10px;
  text-decoration-line: none;
  text-align: right;
}
ul li {
  display: inline-block;
}
ul li a {
  color: rgb(76, 206, 178);
}
#checkbox-menu, label.menu {
  display: none;
}
header nav ul li a:hover{
  background-color: rgb(233, 114, 30);
  -webkit-transform:scale(1.10);
}
.hov:hover{
  background-color: rgb(233, 114, 30);
  -webkit-transform:scale(1.05);
}
/*fin navbar*/
footer {
  color: rgb(0, 0, 0);
  background-color: rgb(210, 69, 9);
  text-align: center;
  font-family: "Roboto", sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
  border: none;
}
footer div a :hover{
  -webkit-transform:scale(1.25);
}
section {
  text-align: center;
  margin: 50px;
  padding-top: 20px;
}
.portada{
  background-image: url(../multimedia/portada.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  min-height: 200px;
}
/**banerindex**/
.titulouno {
  font-family: "Oswald", sans-serif;
  padding-top: 0px;
  padding-bottom: 15px;
  color: rgb(0, 0, 0);
  text-align: center;
}
.titulodos {
  font-family: "Public Sans", sans-serif;
  text-align: center;
  color: black;
}
/**ubicacion**/
.gmaps {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 100px;
}
.formu{
  max-width: 90%;
  display: grid;
  grid-column: auto;
  justify-content: center;
}
/**imaginesprincipales**/
.baner {
  display: inline-block;
  padding-bottom: 50px;
}
.logo {
  text-align: center;
  padding-bottom: 50px;
}
.mprincipal div a :hover{
  -webkit-transform:scale(1.05);
  border: 3px solid;
  border-color: rgb(210, 69, 9);
}
/**flex.productos**/
.prodpadre {
  background-color: chocolate;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.prodhijo {
  background-color: rgb(37, 36, 34)
  flex-grow: 1;
  height: 250px;
  width: 350px;
  margin: 1%;
  border: 1px solid;
}
.carrusel{
  width: 20px, auto;
  margin-top: 10px;
  margin-bottom: 100px;
}
.fullpantalla{
  min-height: calc(100vh -50px -50px);
}
/**fin flex.productos**/
@media screen and (max-width: 991px) {
  .header nav{
    width: auto;
    height: auto;
    float: none;
    display: block;
  }
  nav ul {
    display: none;
    flex-direction: column;
  }
  label.menu {
    display: block;
    font-size: 40px;
    cursor: pointer;
    font-display: solid;
  }
  #checkbox-menu:checked ~ ul {
    display: block;
  }
}
#carouselExampleIndicators {
  width: 50%;
  height: 50%;
  margin: 0 auto;
}/*# sourceMappingURL=style.css.map */